<main class="container">
    <section class="row dateContainer d-flex justify-content-center">
        <div class="col-4">
            <button id="showNextEvents" class="bottomboxbutton">events</button>
        </div>
        <div class="col-8 d-flex justify-content-around">
            <button id="nextHours" class="bottomboxbutton">Show More</button>
            <section class="text-center">
                <button id="eventAdd" class="bottomboxbutton">Event Add</button>
                <div id="eventAddTarget"></div>
            </section>
        </div>
    </section>
</main>
<template id="eventForm">
    <section>
        {{ form_start(form) }}
        <button type="submit">Post Event</button>
        {{ form_end(form) }}
    </section>
</template>