<main class="border-top">
    <section class="row-fluid py-5 dateContainer d-flex justify-content-center">
        <div class="col-4">
            <button id="showNextEvents" class="bottomboxbutton">events</button>
        </div>
        <div class="col-8 d-flex justify-content-around">
            <button id="nextHours" class="bottomboxbutton">Show More</button>
            <section class="text-center">
                <button id="eventAdd" class="bottomboxbutton">Event Add</button>

            </section>
        </div>
    </section>


    <div class='row-fluid d-flex justify-content-center' id="showEvents">

    </div>
    <div id="eventAddTarget"></div>
</main>

<template id="eventMaker">
    <article>
        <div id="eventNumber"></div>
        <div id="eventDescription"></div>
        <div id="activity"></div>
        <div id="start"></div>
        <div id="end"></div>
    </article>
</template>

<template id="eventForm">
    <section>
        {{ form_start(form) }}
        <button type="submit">Post Event</button>
        {{ form_end(form) }}
    </section>
</template>
<script>

    let dateArray = {{ events|json_encode|raw }};

    let today = new Date();
    today.setDate(today.getDate() + 2);
    console.log(today);
    console.log(today.getFullYear());
    console.log(1 + today.getMonth());
    console.log(today.getDate());
    console.log(today.getFullYear() + '-' + today.getMonth() + 1 + '-' + today.getDate());
    console.log(dateArray.start.date.substring(0, 11));
    let todayFormatted = today.getFullYear() + '-' + today.getMonth() + 1 + '-' + today.getDate();
    console.log(todayFormatted);
    let targetDate = dateArray.start.date.substring(0, 11);

    if (todayFormatted == todayFormatted) {
        console.log("I am true")
    }
    ///console.log("I am false");
    let eventsButton = document.getElementById('showNextEvents');
    eventsButton.addEventListener('click', function (e) {

        let template = document.getElementById('eventMaker');
        let clone = template.content.cloneNode(true);
        document.getElementById('showEvents').appendChild(clone);
        document.getElementById('eventNumber').innerText = 'Event' + 0;
        document.getElementById('eventDescription').innerText = dateArray.description;
        document.getElementById('activity').innerText = dateArray.activity;
        document.getElementById('start').innerText = dateArray.start.date;
        document.getElementById('end').innerText = dateArray.end.date;


    });

    //  console.log('CurrentTimeInMinutes '+firstDay);

</script>
