<div>
    <h2 class="text-center">HELLO FROM HELL</h2>
    <main class="container">
        <section class="row dateContainer mx-auto d-flex justify-content-center">
            <div class="col-4">
                <select name="events" id="events">
                    <option value="event1">event1</option>
                    <option value="event2">event2</option>
                    <option value="event3">event3</option>
                    <option value="event4">event4</option>
                    <option value="event5">event5</option>
                    <option value="event6">event6</option>
                    <option value="event7">event7</option>
                    <option value="event8">event8</option>
                    <option value="event9">event9</option>
                    <option value="event10">event10</option>
                </select>
            </div>
            <div class="col-8 d-flex justify-content-around">
                <button>view</button>
                <button>edit</button>
            </div>
        </section>
    </main>
</div>
