<main class="container">
    <section class="row dateContainer d-flex justify-content-center">
        <div class="col-4">
            <button class="bottomboxbutton">events</button>
        </div>
        <div class="col-8 d-flex justify-content-around">
            <button class="bottomboxbutton">view</button>
            <button class="bottomboxbutton">edit</button>
        </div>
    </section>
</main>
