<div class="container">
    <h1 class="col-12 text-center my-5">Timeline</h1>
    <main>
        <section class="row dateContainer d-flex justify-content-center">
            <div class="col-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-right"></div>
                    <div id="month" class="month py-1 px-2 col-4 mx-auto"></div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="today col-3 rounded text-center btn">Today</div>
            <div class="col-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-right">
                    </div>
                    <div id="year" class="year col-4 py-1 px-2 col-1 col-1 mx-auto"></div>
                    <div class="col-4"></div>
                </div>
            </div>
        </section>
        <section class="row dateContainer">
            <div class="col-1 text-right arrows">&#8612;</div>
            <div class="dateBox col-1 py-2 text-center">-3</div>
            <div class="dateBox col-1 py-2 text-center">-2</div>
            <div class="dateBox col-1 py-2 text-center">-1</div>
            <div class="dateBox col-1 py-2 text-center">0</div>
            <div class="dateBox col-1 py-2 text-center">+1</div>
            <div class="dateBox col-1 py-2 text-center">+2</div>
            <div class="dateBox col-1 py-2 text-center">+3</div>
            <div class="col-1 arrows">&#8614;</div>
        </section>
        <div class="dateContainer row" id="target">
        </div>
    </main>
</div>
<template id="expandedDates">
    {% for i in 0..6 %}
        <div class="agendaHours">
            <h3 id="date{{ i }}" class="dayBreakDownTitle text-center">Date</h3>
            <section class="my-5 d-flex flex-column">
                <div class="">0:00</div>
                <div class="">DATA</div>
                <div class="">1:00</div>
                <div class="">DATA</div>
                <div class="">2:00</div>
                <div class="">DATA</div>
                <div class="">3:00</div>
                <div class="">DATA</div>
                <div class="">4:00</div>
                <div class="">DATA</div>
                <div class="">5:00</div>
                <div class="">DATA</div>
                <div class="">6:00</div>
                <div class="">DATA</div>
            </section>
        </div>

    {% endfor %}

</template>

