<div class="container-fluid">
    <h1 class="col-12 mainHeader text-center my-5">PixiMins</h1>
    <main class="">
        <section class="row dateContainer d-flex justify-content-center">
            <div class="col-1 text-right arrows">&#8612;</div>
            <div class="col-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-right"></div>
                    <div id="month" class="month py-1 px-2 col-4 mx-auto"></div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="today col-1 bottomboxbutton text-center">Today</div>
            <div class="col-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-right">
                    </div>
                    <div id="year" class="year col-4 py-1 px-2 col-1 col-1 mx-auto"></div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-1 arrows">&#8614;</div>
        </section>
        <section class="row dateContainer p-3">
            <div class="dateBox col-sm-1 px-0 py-2 text-center"><span class="dateNumber"></span></div>
            <div class="dateBox col-sm-1 px-0 py-2 text-center"><span class="dateNumber"></span></div>
            <div class="dateBox col-sm-1 px-0 py-2 text-center"><span class="dateNumber"></span></div>
            <div class="dateBox col-sm-1 px-0 py-2 text-center"><span class="dateNumber"></span></div>
            <div class="dateBox col-sm-1 px-0 py-2 text-center"><span class="dateNumber"></span></div>
            <div class="dateBox col-sm-1 px-0 py-2 text-center"><span class="dateNumber"></span></div>
            <div class="dateBox col-sm-1 px-0 py-2 text-center"><span class="dateNumber"></span></div>
        </section>
    </main>
</div>

<template id="expandedDates">
    <div class="targetGraph">
        <div class="agendaHours">
            <section class="agendaHoursInside mt-4 d-flex flex-column">
                {% set counter = 0 %}
                {% for hours in 0..23 %}
                    {% if loop.index0 < 10 %}
                    <div class="boxFlex">
                            <p class="mr-1"><span class="paddingZero">0</span>{{loop.index0}}</p>
                        {% else %}
                        <div class="boxFlex pl-1">
                            <p class="mr-1 text-center"> {{loop.index0}}</p>
                        {% endif %}
                        <div>
                            {% for quarters in 0..3 %}
                                <div class="minutes">
                                    {% for minutes in 0..14 %}
                                            <div class="minuteBox"></div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>

</template>
