<div class="container">
    <h1 class="col-12 text-center my-5">Timeline</h1>
    <main>
        <section class="row dateContainer d-flex justify-content-center">
            <div class="col-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-right">&#8612;</div>
                    <div id="month" class="month py-1 px-2 col-4 mx-auto"></div>
                    <div class="col-4">&#8614;</div>
                </div>
            </div>
            <div class="today col-3 rounded text-center btn">Today</div>
            <div class="col-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 text-right">&#8612;</div>
                    <div id="year" class="year col-4 py-1 px-2 col-1 col-1 mx-auto"></div>
                    <div class="col-4">&#8614;</div>
                </div>
            </div>
        </section>
        <section class="row dateContainer">
            <div class="col-1 text-right arrows">&#8612;</div>
            <div class="dateBox col-1 py-2 text-center">-3</div>
            <div class="dateBox col-1 py-2 text-center">-2</div>
            <div class="dateBox col-1 py-2 text-center">-1</div>
            <div class="dateBox col-1 py-2 text-center">0</div>
            <div class="dateBox col-1 py-2 text-center">+1</div>
            <div class="dateBox col-1 py-2 text-center">+2</div>
            <div class="dateBox col-1 py-2 text-center">+3</div>
            <div class="col-1 arrows">&#8614;</div>
        </section>
        <div id="target"></div>
    </main>
</div>
<template id="eventForm">
    <section>
        {{ form_start(form) }}
        <button type="submit">Post Event</button>
        {{ form_end(form) }}
    </section>
</template>
<template id="expandedDates">
    <section class="row dateContainer py-5 d-flex">
        <div class="col-1 text-center">0:00</div>
        <div class="col-1 text-center">1:00</div>
        <div class="col-1 text-center">2:00</div>
        <div class="col-1 text-center">3:00</div>
        <div class="col-1 text-center">4:00</div>
        <div class="col-1 text-center">5:00</div>
        <div class="col-1 text-center">6:00</div>
        <div class="col-1 text-center">7:00</div>
        <div class="col-1 text-center">8:00</div>
        <div class="col-1 text-center">9:00</div>
        <div class="col-1 text-center">10:00</div>
        <div class="col-1 text-center">11:00</div>
    </section>
    <section class="row dateContainer py-5">
        <div class="col-1 text-center">12:00</div>
        <div class="col-1 text-center">13:00</div>
        <div class="col-1 text-center">14:00</div>
        <div class="col-1 text-center">15:00</div>
        <div class="col-1 text-center">16:00</div>
        <div class="col-1 text-center">17:00</div>
        <div class="col-1 text-center">18:00</div>
        <div class="col-1 text-center">19:00</div>
        <div class="col-1 text-center">20:00</div>
        <div class="col-1 text-center">21:00</div>
        <div class="col-1 text-center">22:00</div>
        <div class="col-1 text-center">23:00</div>
    </section>
    <section class="text-center">
        <div id="eventAdd" class="btn btn-lg btn-primary">Event Add</div>
        <div id="eventAddTarget"></div>
    </section>
</template>
<template id="currentDate">
    <div id="currentDateInside" class="col-1 text-center mx-auto"></div>
</template>
