  .bottomboxbutton{
  width: 100px;
  background: #e2f0ef;
  border: 3px solid #51aaa3;
  color: #51aaa3;
  border-radius: 10px;
}

  .bottomboxbutton:hover {
    border: 3px solid #aa6956
  }

  .editeventlink:hover {
    color: #e2f0ef;
    text-decoration: none;
  }
  #logoutBoxProfile:hover {
    color: #51aaa3;
    text-decoration: none;
  }
