.eventTable{

  table-layout: auto;
  width: 100%;
  background-color:  hsla(210, 48%, 51%, 0.67);;

  th{
    text-align: center;
    color: #e2f0ef;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  td{
    text-align: center;
    color: #e2f0ef;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}
