.eventTable{

  table-layout: auto;
  width: 100%;
  background-color: darkslategrey;

  th{
    text-align: center;
    color: #e2f0ef;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  td{
    text-align: center;
    color: #e2f0ef;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}