$font: 'Inria Serif', serif;

$backgroundColor: hsla(50, 50%, 80%, 1);

$colorSleep: hsla(0, 100%, 50%, 1);

$colorWork: hsla(180, 100%, 50%, 1);

$colorTravel: hsla(300, 100%, 50%, 1);

$colorStudy: hsla(245, 100%, 50%, 1);

$colorEat: hsla(125, 100%, 50%, 1);

$colorHobby: hsla(50, 100%, 50%, 1);