{% extends 'base.html.twig' %}

{% block title %}Timeline{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="col-12 text-center my-5">Timeline</h1>
        <main>
            <section class="row dateContainer">
                <div class="col-1 text-right arrows">&#8612;</div>
                <div class="dateBox col-1 text-center">-3</div>
                <div class="dateBox col-1 text-center">-2</div>
                <div class="dateBox col-1 text-center">-1</div>
                <div class="dateBox col-1 text-center">0</div>
                <div class="dateBox col-1 text-center">+1</div>
                <div class="dateBox col-1 text-center">+2</div>
                <div class="dateBox col-1 text-center">+3</div>
                <div class="col-1 arrows">&#8614;</div>
            </section>
        </main>
    </div>
    <script>
        let dates = document.querySelectorAll(".dateBox");
        for (let i = 0; i < dates.length; i++) {
            let date = new Date();
            dates[i].innerText = date;
        }

        dates.forEach(function(element, index){
            var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

            let date = new Date();
            switch (index) {
                case 0:
                    date.setDate(date.getDate() - 3);
                    element.innerHTML = days[date.getDay()] + "<br>" + date.getDate();
                    break;
                case 1:
                    date.setDate(date.getDate() - 2);
                    element.innerHTML = days[date.getDay()] + "<br>" + date.getDate();;
                    break;
                case 2:
                    date.setDate(date.getDate() - 1);
                    element.innerHTML = days[date.getDay()] + "<br>" + date.getDate();;
                    break;
                case 3:
                    date.setDate(date.getDate());
                    element.innerHTML = days[date.getDay()] + "<br>" + date.getDate();
                    break;
                case 4:
                    date.setDate(date.getDate() + 1);
                    element.innerHTML = days[date.getDay()] + "<br>" + date.getDate();
                    break;
                case 5:
                    date.setDate(date.getDate() + 2);
                    element.innerHTML = days[date.getDay()] + "<br>" + date.getDate();;
                    break;
                case 6:
                    date.setDate(date.getDate() + 3);
                    element.innerHTML = days[date.getDay()] + "<br>" + date.getDate();;
                    break;

            }

            element.addEventListener('click', function(e){
                console.log(e.target)
            })
        });
    </script>
{% endblock %}
