@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
@import "partials/bottombox";
@import "partials/login";
@import "partials/register";
@import "partials/eventTable.scss";
@import "partials/eventForm";


body {
    background-image: url("./partials/mountain.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "DejaVu Sans Mono", serif;
}

.today {
    width: 100px;
    background: #e2f0ef;
    border: 3px solid #51aaa3;
    color:  #51aaa3;
}

.today:hover {
    border: 3px solid yellow;
}

.dateContainer {
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dateBox {
    min-width: 184px;
}

.agendaHours {
    height: 450px;
    overflow: hidden;
    background: black;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 4px;
    box-shadow: 0 0 8px inset black, 0 0 10px inset hsla(210, 28%, 50%, 0.83);
    transform: translateZ(-3px);

    .agendaHoursInside {
        height: 400px;
        overflow-y: scroll;
        width: 100%;
        padding-right: 20px;
        box-sizing: content-box;
    }
}
.paddingZero {
    visibility: hidden;
    padding-left: 4px;
}

.boxFlex {
    display: flex;
    justify-content: center;
    position: relative;
    left: -3px;
    color: #e2f0ef;

}

.mainHeader {
    text-shadow: 4px 3px 0 #7A7A7A, -8px 2px 6px rgba(10,10,10,0.14);
}

    .minutes {
        display: flex;
        justify-content: center;
        .minuteBox {
            width: 9px;
            height: 9px;
            border: 1px solid #e2f0ef;;
        }
    }





.dateBox, .month, .year, .extraButtons {
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    width: 3rem;
    background: #e2f0ef;
    border: 3px solid #51aaa3;
    color: #51aaa3;
    margin: 0.375rem;
    flex-grow: 1;
}

.dateBox:hover {
    border: 3px solid #aa6956;
    transform: scale(1.1);
}

.arrows {
    font-size: 3em;
    color: whitesmoke;
}

.dataInfo {
    text-shadow: 0 0 5px whitesmoke;
}

.arrows:nth-of-type(0) {

}

.arrows:hover {
    font-size: 3em;
    text-shadow: 0 0 4px yellow;
}

.sleep {
    background: hsla(0, 100%, 50%, 1);
}

.hobby {
    background: hsla(50, 100%, 50%, 1);
}

.work {
    background: hsla(180, 100%, 50%, 1);
}

.travel {
    background: hsla(300, 100%, 50%, 1);
}

.study {
    background: hsla(245, 100%, 50%, 1);
}

.default {
    background: grey;
}

.eat {
    background: hsla(125, 100%, 50%, 1);
}

.wash {
    background-color: darkolivegreen;
}

.targetGraph {
    display: flex;
    padding: 2px;

}

#dataTarget {
    background: darkslategray;
}
